### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
a =[]
print(a)

[]

Create a list of your favorite colors and print it.

In [2]:
n = ['blue','green','grey']
print(n)

['blue', 'green', 'grey']

Create a list that includes a mix of data types (integers, strings, floats).

In [2]:
s = [10, 'hello', 7.99, 'aymen', 28]

Access the first element of a list.

In [4]:
s[0]

10

Access the last element of a list.

In [6]:
s[len(s)-1]

7.99

 Access the second and third elements of a list.

In [7]:
s[1],s[2]

('hello', 7.99)


Slice a list to extract the first three elements.

In [3]:
s[:3]

[10, 'hello', 7.99]

Slice a list to extract the last three elements.

In [12]:
s[-3:]

[7.99, 'aymen', 28]

Slice a list to get every second element.

In [13]:
s[::2]

[10, 7.99, 28]

Reverse a list using slicing.

In [14]:
s[::-1]

[28, 'aymen', 7.99, 'hello', 10]

 Create two lists and concatenate them.

In [17]:
ay = ['Advance']
an = ['Eid Mubarak']
anan = ay + an
print(anan)

['Advance', 'Eid Mubarak']


Repeat a list multiple times using the repetition operator

In [18]:
anan * 5

['Advance',
 'Eid Mubarak',
 'Advance',
 'Eid Mubarak',
 'Advance',
 'Eid Mubarak',
 'Advance',
 'Eid Mubarak',
 'Advance',
 'Eid Mubarak']

Add a new element to the end of a list using the append() method.

In [26]:
k = []
k.append('hello')
print(k)

['hello']


Extend a list with elements from another list using the extend() method.

In [27]:
k.extend('Aymen')
print(k)

['hello', 'A', 'y', 'm', 'e', 'n']

Insert an element at a specific index in a list using the insert() method.

In [30]:
k.insert(2, 'from')
print(k)

['hello', 'A', 'from', 'from', 'y', 'm', 'e', 'n', 'from']

 Remove the last element from a list using the pop() method.

In [32]:
k.pop()

'from'

Remove a specific element from a list using the remove() method.

In [34]:
k.remove('from')
print(k)

['hello', 'A', 'y', 'm', 'e', 'n']

Clear all elements from a list.

In [36]:
k.clear()
print(k)

[]

Delete an element at a specific index using the del statement.

In [41]:
del a[0]
print(a)

['from', 'y', 'm']

Convert a string to a list of characters and vice-versa.

In [43]:
l = 'AYMEN'
char = list(l)
print(char)

['A', 'Y', 'M', 'E', 'N']

Sort a list in ascending order using the sort() method.

In [45]:
char.sort()
print(char)

['A', 'E', 'M', 'N', 'Y']


Sort a list in descending order using the sort() method.

In [46]:
char.sort(reverse=True)
print(char)

['Y', 'N', 'M', 'E', 'A']

Reverse the order of a list using the reverse() method.

In [47]:
char.reverse()
print(char)

['A', 'E', 'M', 'N', 'Y']

Check if an element is present in a list using the in operator.

In [50]:
if 'N' in char:
    print(char)

['A', 'E', 'M', 'N', 'Y']

Compare two lists to see if they are equal in both value and identity.

In [51]:
list1 = ['Aymen', 'loves', 'car', 'rides']
list2 = ['Aymen', 'loves', 'car', 'rides']
if list1 == list2:
    print("equal in value")
else:
    print("not equal in value")
if list1 in list2:
    print("equal in identity")
else:
    print("equal in identity")

equal in value
equal in identity

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [52]:
l1 = [1, 2, 3]
l2 = l1.copy()
l2.append(4)
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3, 4]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [53]:
import copy
a1 = [10, ['hello', 'Aymen']]
a2 = copy.deepcopy(a1)
a1[1].append(0)
print(a1)
print(a2)

[10, ['hello', 'Aymen', 0]]
[10, ['hello', 'Aymen']]

Pickle and Unpickle a list and display its content.

In [54]:
import pickle
my_list = [1, 2, 3, 4, 5]
pickled_list = pickle.dumps(my_list)
unpickled_list = pickle.loads(pickled_list)
print("Unpickled list:", unpickled_list)

Unpickled list: [1, 2, 3, 4, 5]