### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [2]:
set1 = {}
print(set1)

{}

  Create a set of your favorite colors and print it.

In [4]:
colors = {'blue', 'green', 'grey'}
print(colors)

{'grey', 'blue', 'green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [5]:
set1 = {8, 'aymen', 28.1}

Access the elements of a set using a loop and print each element.

In [6]:
for element in set1:
    print(element)

8
28.1
aymen

add a new element to a set using the add() method.

In [7]:
set1.add(2023)

Add multiple elements to a set using the update() method.

In [8]:
set1.update(['august','november'])

Remove and return an arbitrary element from a set using the pop() method.

In [9]:
print(set1.pop())

2023

Remove a specific element from a set using the remove() method.

In [12]:
colors.remove('grey')
print(colors)

{'blue', 'green'}

Remove a specific element from a set using the discard() method.

In [13]:
set1.discard('aymen')
print(set1)

{8, 'november', 'august', 28.1}

Convert a string to a set of unique characters.

In [1]:
str1 = 'hello aymen'
char = set(str1)
print(char)

{'m', 'e', 'n', 'l', 'a', 'o', 'h', 'y', ' '}

Convert a set of characters to a string.

In [17]:
char = {'e', 'l', 'o', 'm', 'n', 'h', ' ', 'a', 'y'}
str2 = ''.join(char)
print(str2)

elomnh ay

Use the clear() method to remove all elements from a set.

In [18]:
set1.clear()

Use the copy() method to create a shallow copy of a set.

In [19]:
set2 = {1,2,3,4,5}
set3 = set2.copy()
set2.add(0)
print(set2)
print(set3)

{0, 1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

Use the difference() method to find the difference between two sets.

In [20]:
set2 = {1,2,3,4,5}
set3 = {6,7,8,9}
s = set2.difference(set3)
print(s)

{1, 2, 3, 4, 5}

Create two sets and find their union.

In [22]:
set2 = {1,2,3,4,5}
set3 = {6,7,8,9}
union = set2.union(set3)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

    Create two sets and find their intersection.

In [24]:
set2 = {1,2,3,4,5}
set3 = {5,6,7,8,9}
intersection = set2.intersection(set3)
print(intersection)

{5}

 Create two sets and find their difference.

In [25]:
set2 = {1,2,3,4,5}
set3 = {6,7,8,9}
difference = set2-set3
print(difference)

{1, 2, 3, 4, 5}

    Create two sets and find their symmetric difference.

In [27]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9}
s_difference = set2.symmetric_difference(set3)
print(s_difference)

{1, 2, 3, 6, 7, 8, 9}

Check if one set is a subset of another.

In [33]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9}
is_subset = set3.issubset(set2)
print(is_subset)

False

    Check if one set is a superset of another.

In [31]:
set2 = {1,2,3,4,5}
set3 = {4,5,6,7,8,9}
is_superset = set2.issuperset(set3)
print(is_superset)

False

    Check if two sets are disjoint (have no common elements).

In [34]:
set2 = {1,2,3,4,5}
set3 = {5,6,7,8,9}
disjoint = set2.isdisjoint(set3)
print(disjoint)

False