### Assignment-04 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [4]:
tuple1 = ()
print(tuple1)

()

    Create a tuple of your favorite fruits and print it.

In [5]:
fruits = ('watermelon','grapes', 'mango')
print(fruits)

('watermelon', 'grapes', 'mango')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [6]:
tuple1 = (10, 'aymen', 7.99)

  Access the first element of a tuple.

In [7]:
tuple1[0]

10

    Access the last element of a tuple.

In [8]:
tuple1[-1]

7.99

Access the second and third elements of a tuple.

In [9]:
tuple1[1],tuple1[2]

('aymen', 7.99)


    Slice a tuple to extract the first three elements.

In [10]:
tuple1[:3]

(10, 'aymen', 7.99)

Slice a tuple to extract the last three elements.

In [11]:
tuple1[-3:]

(10, 'aymen', 7.99)

   Slice a tuple to get every second element.

In [12]:
tuple1[::2]

(10, 7.99)

    Reverse a tuple using slicing.

In [13]:
fruits[::-1]

('mango', 'grapes', 'watermelon')

Create two tuples and concatenate them.

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

    Repeat a tuple multiple times using the repetition operator.

In [15]:
tuple1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Find the index of a specific element in a tuple using the index() method.

In [16]:
concatenated_tuple.index(2)

1

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [18]:
tuple2.count(5)

1

Sort a tuple of numbers in ascending order.

In [20]:
tuple1 = (4,3,4,2,5,6)
sorted_tuple = tuple(sorted(tuple1))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (2, 3, 4, 4, 5, 6)

    Sort a tuple of strings in alphabetical order.

In [22]:
string_tuple = ('banana', 'apple', 'orange', 'grape')
sorted_s_tuple = tuple(sorted(string_tuple))
print(sorted_s_tuple)

('apple', 'banana', 'grape', 'orange')

Sort a tuple of tuples based on the second element of each inner tuple.

In [23]:
tuples = ((1, 'apple'), (3, 'banana'), (2, 'orange'))
sorted_tuple = tuple(sorted(tuples, key=lambda x: x[1]))
print(sorted_tuple)

((1, 'apple'), (3, 'banana'), (2, 'orange'))

Compare two tuples to see if they are equal in both value and identity.

In [24]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
value_equal = tuple1 == tuple2
identity_equal = tuple1 is tuple2
print(value_equal)
print(identity_equal)

True
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

    Pickle a tuple and save it to a file.

    Unpickle a tuple from a file and display its content.